; параметы соединения с БД
[connect]
1=strobe2011/admin@orcl
2=strobe/smolensk@logsys

; actionslog= уровень детализации журнала 0..4
; actionsfile= файл журнала 
; dumplog  = листинг данных 0..4
; dumpfile = маска файла листинга данных
; DataLog  = ?
[logging]
ActionsLog=3
actionsfile=C:\dev\prj\fmtload7\logs\fmtload.log
DataLog=4

; autoconnect=  параметр автосоединения с БД
[main]
autoconnect=True
AccountNum=4
PackageName=PKG_FMTLOAD
FileGetMode=1

;имя контейнера(.DLL) для источника данных
; имя_источника=контейнер_с_драйвером
[DriverName]
XML fidavista=Fidavista.dll
XML finasta=ifx.dll
CSV3=csv3lib.dll

; имя_источника=имя_схемы_данных
[DataDescription]
XML fidavista=FIDAVISTA
XML finasta=IFX
Servic24=CSV3

;схема_данных и маски для валидации
[FIDAVISTA]
line1=AS "PrivatBank"
line2=АО "TRASTA KOMERCBANKA"
line3=NORVIK BANKA - Statement

[IFX]
line1=lt.forbis:MktgSvcRs

[ExtNames]
2113747126=biz-assist.eu
2113747134=biz-assist.eu.USD
2113745200=biz-assist.eu.CZK

[CSV3]
line1=Account Title;Account;Currency;Balance
;line3=From Account;Amount;Currency;Booking Date;Value Date;Bank;Bank Name;Bank Name;Account;Name;Address;Address;Address;Transaction Details;Transaction Details;Transaction Details;Transaction Details;Transaction Details;Transaction Details;Constant Code;Variable Code;Specific Code;MNB Code;Reference Number

;DataCheck= уровень проверки данных 0..2
[Check]
DataCheck=2

[delta]

